//- timeline
.fixed-action-btn( style='bottom:45px; right:24px;')
	a.btn-floating.btn-large(
		class= 'floating-download',
		): i.mdi-content-add
	ul
		li
			a.btn-floating.tooltipped(
				class= 'floating-download',
				data-position='left', 
				data-delay='50', 
				data-tooltip='Bloomberg Concept PDF', 
				href='downloads/mpaiva-portfolio-bloomberg.pdf', 
				target='_blank'
				): i.mdi-image-photo-camera
		li
			a.btn-floating.tooltipped(
				class= 'floating-download',
				data-position='left', 
				data-delay='50', 
				data-tooltip='Portfolio - Mobile PDF', 
				href='downloads/mpaiva-portfolio-mobile.pdf', 
				target='_blank'
				): i.mdi-hardware-phone-iphone
		li
			a.btn-floating.tooltipped(
				class= 'floating-download',
				data-position='left', 
				data-delay='50', 
				data-tooltip='Resume PDF', 
				href='downloads/mpaiva-resume.pdf', 
				target='_blank'
				): i.mdi-action-account-circle
