//- timeline
.col.s12.facts-content-col.timeline
	h4 #{locals.timeline.label}
	p #{locals.timeline.p1}
	div.hide-on-small-only
		img( src='#{locals.timeline.infographHi}', class='timeline-graph')
	div.hide-on-med-and-up
		img( src='#{locals.timeline.infographPhone1}', class='timeline-graph')
	div.hide-on-med-and-up
		img( src='#{locals.timeline.infographPhone2}', class='timeline-graph')
